.habit-name {
  padding: 0;
  margin: 0;
}

.checkbox-hidden {
  opacity: 0;
}

.checkbox-months {
  display: grid;
  grid-template-columns: repeat(3, 140px);
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  justify-content: center;
  background-color: rgb(0 0 0 / 10%);
}

.month {
  display: grid;
  grid-template-columns: repeat(7, 20px);
  gap: 2.5px;
  column-gap: normal;
}
/* .isCheck {
  background: rgba(57, 211, 83, 1);
} */
