.checkbox-months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: auto auto auto auto auto auto; */
  gap: 10px;
}

.month {
}

.habit-check {
  width: 5;
  border: 1px solid red;
  padding: 0;
  margin: 0;
}

.habit-check-box {
  border: 1px solid white;
  padding: 10px;
  border-radius: 15px;
}

.habit-name {
  padding: 0;
  margin: 0;
}

.checkbox-hidden {
  opacity: 0;
}
