* {
  margin: 0;
  padding: 0;
}

body {
  background: #0d1117;
}

#main {
  display: grid;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
}

.checkbox-months {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: auto auto auto auto auto auto; */
  gap: 10px;
  margin: 0 auto;
}
